@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/Helvetica\ 93\ Black\ Extended.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}


:root {
  --color-primary: #111111;
  --color-secondary: #f3f3f3;
  --color-accent: #939393;
  --font-bebas: "Bebas", sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-family: var(--font-Helvetica);
  background: var(--color-primary);

}
